.advantages {
  margin-bottom: 50px;
}

.advantages__title {
  font-size: 36px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 30px;
}

.advantages__list {
  list-style: none;
  padding-left: 80px;
  margin-top: 32px;
}

.advantages__item {
  position: relative;
  width: 200px;
  margin-bottom: 28px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  width: 60px;
  height: 60px;
  left: -80px;
}

.advantages__item--natural::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__item--eat::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__item--result::before {
  background-image: url("../img/advantage-clock@1x.png");
}

.advantages__description {
  display: block;
  min-height: 44px;
  padding-top: 4px;
  margin: 0;
  font-family: "Arial";
}

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 0;
  }

  .advantages__title {
    font-size: 60px;
    margin-top: 35px;
    margin-bottom: 56px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
  }

  .advantages__item {
    width: 325px;
    min-height: 228px;
    margin-bottom: 90px;
  }

  .advantages__item::before {
    width: 80px;
    height: 80px;
    left: 0;
  }

  .advantages__item::after {
    position: absolute;
    top: -105px;
    left: 120px;
    z-index: -2;
    font-size: 281px;
    color: #f2f2f2;
  }

  .advantages__item--natural::after {
    content: "1";
  }

  .advantages__item--powder::after {
    content: "2";
    position: absolute;
  }

  .advantages__item--eat::after {
    content: "3";
  }

  .advantages__item--result::after {
    content: "4";
  }

  .advantages__description {
    margin-top: 110px;
    width: 250px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1300px) {
  .advantages__title {
    margin-top: 25px;
  }

  .advantages__item {
    width: 245px;
    margin-bottom: 70px;
  }
}
