.advantages {
  padding: 0 20px;
}

.advantages__title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}

.advantages__list {
  list-style: none;
  padding-left: 80px;
}

.advantages__item {
  position: relative;
  width: 200px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  background: #68b738;
  z-index: -1;
  width: 60px;
  height: 60px;
  left: -80px;
}
