.advantages {
  padding: 0 20px;
}

.advantages__title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}

.advantages__list {
  list-style: none;
  padding-left: 80px;
}

.advantages__item {
  position: relative;
  width: 200px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  background: #68b738;
  z-index: -1;
  width: 60px;
  height: 60px;
  left: -80px;
}

@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }

  .advantages__item {
    width: 354px;
    min-height: 228px;
    margin-right: 30px;
  }

  .advantages__item::before {
    width: 80px;
    height: 80px;
    left: 0;
  }

  .advantages__description {
    margin-top: 120px;
    width: 250px;
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  .advantages__item {
    width: 245px;
  }
}
