.button {
  display: block;
  background-color: #68b738;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  width: auto;
  margin: 0 20px;
  padding: 12px 0;
  text-align: center;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: #8fc46e;
}

.button--promo {
  margin: 0;
}

.button--gray {
  color: #111111;
  background-color: #f2f2f2;
}

.button--gray:hover {
  background-color: #ebebeb;
}

.button--gray:active {
  color: #b9b9b9;
}

.button--extra {
  margin: 0;
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }

  .button--promo {
    width: 245px;
    padding: 9px 0;
    margin-left: 85px;
  }

  .button--extra {
    font-size: 16px;
    padding: 8px 0;
  }

  .button--gray {
    margin: 0 40px;
    margin-top: 72px;
    padding: 10px 0;
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  .button--extra {
    width: 245px;
  }

  .button--gray {
    margin-top: 83px;
  }
}
