.button {
  display: block;
  background: #68b738;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  width: auto;
  margin: 0 20px;
  padding: 12px 0;
  text-align: center;
}

.button--gray {
  color: #111111;
  background-color: #f2f2f2;
}
