.catalog__title {
  padding-top: 20px;
  padding-bottom: 15px;
}

.catalog__list {
  list-style: none;
  padding: 0;
}

.catalog__item {
  border-top: 1px solid #d9d9d9;
  margin-bottom: 24px;
}

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.catalog__link {
  position: relative;
  padding-left: 20px;
  z-index: -1;
}

.catalog__namelink {
  color: #111111;
  text-decoration: none;
}

.catalog__image {
  max-width: none;
  width: 140px;
  height: 144px;
}

.catalog__stats {
  width: 140px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
}

.catalog__row {
  display: flex;
  justify-content: space-between;
}

.catalog__name {
  width: 80px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
}

.catalog__button {
  margin-top: -5px;
}

.catalog__extra {
  position: relative;
  padding-bottom: 24px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.catalog__extra::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  left: 50%;
  margin-left: -15px;
  background-image: url("../img/icon-plus-mobile.svg");
}

.catalog__extra-title {
  margin-top: 80px;
  margin-bottom: 3px;
  font-size: 15px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.catalog__extra-description {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .catalog__item--extra {
    @include invisible;
  }
}

@media (min-width: 768px) {
  .catalog__title {
    padding: 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .catalog__item {
    position: relative;
    width: 324px;
    margin-right: 60px;
    margin-bottom: 70px;
    min-height: 500px;
    border: none;
  }

  .catalog__wrapper {
    display: block;
  }

  .catalog__item::before {
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    width: 324px;
    z-index: -1;
    min-height: 431px;
    top: 90px;
  }

  .catalog__extra {
    @include invisible;
  }

  .catalog__item--extra::before {
    content: "";
    position: absolute;
    width: 324px;
    z-index: -1;
    min-height: 431px;
    top: 90px;
    border: 1px solid #e6e6e6;
    background-color: white;
  }

  .catalog__item--extra::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 150px;
    left: 50%;
    margin-left: -30px;
    background-image: url("../img/icon-plus.svg");
  }

  .catalog__parameter,
  .catalog__value {
    font-family: "Arial", sans-serif;
    font-size: 16px;
  }

  .catalog__link {
    padding: 0;
    display: block;
    width: auto;
    min-height: 208px;
    z-index: 1;
  }

  .catalog__image {
    position: absolute;
    bottom: -10px;
    width: 324px;
    height: 172px;
  }

  .catalog__image--big {
    height: 208px;
  }

  .catalog__name {
    width: 150px;
    margin: 0 auto;
    margin-top: 45px;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
  }

  .catalog__stats {
    width: 100%;
    padding: 0 18px;
    margin-top: 15px;
  }

  .catalog__row {
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__button {
    font-size: 16px;
    margin: 0 40px;
    padding: 10px 0;
  }

  .catalog__item--title {
    width: 150px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 260px;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
  }

  .catalog__item--description {
    width: 170px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .catalog {
    margin-right: auto;
  }

  .catalog__title {
    padding: 0;
    margin-top: 18px;
  }

  .catalog__list {
    margin: 0;
    margin-top: 63px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__item::before {
    width: 245px;
  }

  .catalog__item--title {
    margin-top: 255px;
  }

  .catalog__item--description {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    margin-top: 25px;
  }

  .catalog__image {
    width: 245px;
  }
}
