.catalog__list {
  list-style: none;
  padding: 0;
}

.catalog__item {
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;
  margin-bottom: 20px;
}

.catalog__link {
  padding: 0 20px;
}

.catalog__name {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
}

.catalog__extra {
  padding-bottom: 24px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.catalog__extra-title {
  margin-bottom: 8px;
  font-size: 15px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.catalog__extra-description {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .catalog__image--tablet {
    @include invisible;
  }

  .catalog__image--desktop {
    @include invisible;
  }

  .catalog__item--extra {
    @include invisible;
  }
}

@media (max-width: 1299px) {
  .catalog__image--mobile {
    @include invisible;
  }

  .catalog__image--desktop {
    @include invisible;
  }
}

@media (min-width: 1300px) {
  .catalog__image--mobile {
    @include invisible;
  }

  .catalog__image--tablet {
    @include invisible;
  }
}

@media (min-width: 768px) {
  .catalog {
    margin-right: -80px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .catalog__item {
    position: relative;
    width: 324px;
    margin-right: 60px;
    margin-bottom: 50px;
    min-height: 500px;
    border: none;
  }

  .catalog__item::before {
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    width: 324px;
    z-index: -1;
    min-height: 431px;
    top: 90px;
  }

  .catalog__extra {
    @include invisible;
  }

  .catalog__item--extra::before {
    content: "";
    position: absolute;
    width: 324px;
    z-index: -1;
    min-height: 431px;
    top: 90px;
    border: 1px solid #e6e6e6;
    background-color: white;
  }

  .catalog__parameter,
  .catalog__value {
    font-family: "Arial";
    font-size: 16px;
  }

  .catalog__link {
    position: relative;
    padding: 0;
    display: block;
    width: auto;
    min-height: 208px;
  }

  .catalog__image {
    position: absolute;
    bottom: 10px;
  }

  .catalog__name {
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
  }

  .catalog__stats {
    width: 100%;
    padding: 0 18px;
    margin-top: 15px;
  }

  .catalog__row {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__button {
    font-size: 16px;
    margin: 0 40px;
    padding: 10px 0;
  }

  .catalog__item--title {
    width: 150px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 235px;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
  }

  .catalog__item--description {
    width: 170px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .catalog {
    margin-right: auto;
  }

  .catalog__title {
    padding: 0;
  }

  .catalog__list {
    margin: 0;
    margin-top: 65px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__item::before {
    width: 245px;
  }

  .catalog__item--title {
    margin-top: 235px;
  }

  .catalog__item--description {
    font-size: 16px;
    font-family: "Arial";
    margin-top: 25px;
  }
}
