.categories__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.categories__item {
  min-height: 222px;
  background: #f2f2f2;
  margin-bottom: 20px;
}

.categories__title {
  display: block;
  font-weight: 500;
  width: auto;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 92px;
  margin: 0;
  text-align: left;
  font-size: 24px;
  text-transform: uppercase;
}

.categories__description {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 24px;
  line-height: 18px;
  font-family: "Arial";
}

.categories__button {
  display: block;
  padding: 15px 0;
  margin: 0 20px;
  font-size: 16px;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;
  text-decoration: none;
  color: #111111;
}

@media (min-width: 768px) {
  .categories__item {
    padding: 0 55px;
    margin-bottom: 30px;
  }

  .categories__title {
    text-align: left;
    font-size: 36px;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 20px;
    width: 380px;
  }

  .categories__description {
    width: 320px;
    padding: 0;
    margin-bottom: 28px;
    line-height: 24px;
    font-size: 16px;
  }

  .categories__button {
    border: none;
    margin: 0;
    padding: 22px 0;
    padding-bottom: 55px;
    font-size: 20px;
  }
}

@media (min-width: 1300px) {
  .categories__list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .categories__item {
    width: 460px;
  }

  .categories__title {
    width: auto;
    padding: 70px 0;
    margin-left: 163px;
    text-align: left;
  }

  .categories__description {
    width: auto;
    font-size: 16px;
    margin-bottom: 25px;
  }

  .categories__button {
    padding-top: 0;
    padding-bottom: 58px;
    font-size: 20px;
  }
}
