.categories__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.categories__item {
  position: relative;
  min-height: 222px;
  background: #f2f2f2;
  margin-bottom: 20px;
}

.categories__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 22px;
  background-color: #68b738;
  border-radius: 50%;
}

.categories__item--slim::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 49px;
  top: 22px;
  left: 30px;
  background-image: url("../img/icon-cat-slim.svg");
}

.categories__item--pro::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  top: 37px;
  left: 13px;
  background-image: url("../img/icon-cat-pro.svg");
}

.categories__title {
  display: block;
  font-weight: 500;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 92px;
  margin: 0;
  text-align: left;
  font-size: 24px;
  text-transform: uppercase;
}

.categories__description {
  padding: 0;
  padding-bottom: 22px;
  margin: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  line-height: 18px;
  font-family: "Arial", sans-serif;
}

.categories__button {
  position: relative;
  display: inline-block;
  padding: 15px 0;
  margin: 0 20px;
  font-size: 16px;
  text-transform: uppercase;

  text-decoration: none;
  color: #111111;
}

.categories__button::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 11px;
  top: 20px;
  left: 100px;
  background-image: url("../img/icon-right-arrow-long.svg");
}

.categories__button:hover::after {
  width: 32px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.categories__button:active {
  opacity: 0.5;
}

.categories__button:active::after {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .categories__item {
    padding: 0 55px;
    margin-bottom: 30px;
  }

  .categories__item::before {
    width: 200px;
    height: 200px;
    top: 92px;
    left: auto;
    right: 62px;
  }

  .categories__item--slim::after {
    width: 140px;
    height: 194px;
    top: 80px;
    left: auto;
    right: 90px;
  }

  .categories__item--pro::after {
    width: 268px;
    height: 112px;
    top: 135px;
    left: auto;
    right: 30px;
  }

  .categories__title {
    text-align: left;
    font-size: 36px;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 20px;

    width: 380px;
  }

  .categories__description {
    width: 320px;
    padding: 0;
    margin-bottom: 28px;
    margin-left: 0;
    border: none;
    line-height: 24px;
    font-size: 16px;
  }

  .categories__button {
    margin: 0;
    padding: 22px 0;
    padding-bottom: 54px;
    font-size: 20px;
  }

  .categories__button::after {
    top: 30px;
    left: 120px;
  }
}

@media (min-width: 1300px) {
  .categories__list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .categories__item {
    width: 460px;
  }

  .categories__item::before {
    width: 100px;
    height: 100px;
    top: 47px;
    right: auto;
    left: 52px;
  }

  .categories__item--slim::after {
    width: 70px;
    height: 97px;
    top: 41px;
    right: auto;
    left: 66px;
  }

  .categories__item--pro::after {
    width: 134px;
    height: 56px;
    top: 69px;
    right: auto;
    left: 34px;
  }

  .categories__title {
    width: auto;
    padding: 70px 0;
    padding-bottom: 65px;
    margin-left: 163px;
    text-align: left;
  }

  .categories__description {
    width: 460px;
    font-size: 16px;
    margin-bottom: 25px;
  }

  .categories__button {
    padding-top: 0;
    padding-bottom: 58px;
    font-size: 20px;
  }

  .categories__button::after {
    top: 10px;
  }
}
