.categories {
  margin-bottom: 28px;
}

.categories__list {
  list-style: none;
  padding: 0;
}

.categories__item {
  min-height: 222px;
  background: #f2f2f2;
  margin-bottom: 20px;
}

.categories__title {
  display: block;
  font-weight: 500;
  width: auto;
  padding: 40px 0;
  margin: 0;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.categories__description {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 24px;
}

.categories__button {
  display: block;
  padding: 22px 20px;
  font-size: 16px;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;
  text-decoration: none;
  color: #111111;
}

@media (min-width: 768px) {
  .categories__item {
    padding: 0 55px;
  }

  .categories__title {
    text-align: left;
    font-size: 36px;
    padding-bottom: 35px;
    width: 380px;
  }

  .categories__description {
    width: 380px;
    padding: 0;
  }

  .categories__button {
    border: none;
    padding: 22px 0;
  }
}

@media (min-width: 1300px) {
  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    width: 460px;
  }

  .categories__title {
    width: auto;
    padding: 80px 0;
    margin-left: 163px;
    text-align: left;
  }

  .categories__description {
    width: auto;
    font-size: 16px;
  }

  .categories__button {
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 20px;
  }
}
