.contacts {
  margin-top: 30px;
  background-color: #f2f2f2;
}

.contacts--white {
  background-color: white;
}

.contacts__title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .contacts__title {
    width: 160px;
    font-size: 20px;
    padding: 0 40px;
  }

  .contacts__address {
    width: 170px;
    font-size: 16px;
    font-weight: normal;
    padding: 0 40px;
  }

  .contacts__address--city {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: 1300px) {
  .contacts {
    min-height: 400px;
  }

  .contacts__container {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    width: 420px;
    min-height: 70px;
    top: 95px;
    padding: 65px 75px;
    background-color: white;
  }

  .contacts__title,
  .contacts__address {
    padding: 0;
    margin: 0;
  }

  .contacts__title {
    line-height: 25px;
  }

  .contacts__address--city {
    margin-top: 10px;
  }
}
