.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.copyright__text {
  margin-bottom: 6px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: #111111;
}

.copyright__logo {
  margin-right: -7px;
}

.copyright:hover path {
  fill: #68b738;
}

.copyright:active {
  opacity: 0.3;
}


@media (min-width: 768px) {
  .copyright {
    margin: auto 0;
  }

  .copyright__text {
    margin-right: 15px;
  }
}
