.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.copyright__text {
  text-decoration: none;
  color: #111111;
}

@media (min-width: 768px) {
  .copyright {
    margin: auto 0;
  }
}
