.example {
  padding-bottom: 20px;
  background-color: #f2f2f2;
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 30px;
}

.example__description {
  font-family: "Arial", sans-serif;
  line-height: 18px;
}

.example__wrapper-tablet {
  margin-top: 22px;
}

.example__cost {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-top: 32px;
}

.example__wrapper {
  margin-top: 35px;
}

.example__photos {
  list-style: none;
  padding: 0;
}

.example__photo {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 240px;
}

.example__toggles {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .example {
    position: relative;
    background: none;
    padding-bottom: 60px;
    margin-top: -5px;
  }

  .example::before {
    content: "";
    position: absolute;
    width: calc(100% + 30px);
    height: 465px;
    bottom: 0;
    left: -30px;
    background-color: #f2f2f2;
    z-index: -1;
  }

  .example__title {
    font-size: 60px;
    padding-top: 0;
    margin: 0;
  }

  .example__description {
    margin-top: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper-tablet {
    display: flex;
    margin-top: 53px;
  }

  .example__cost {
    width: 200px;
    margin-top: 5px;
    margin-left: auto;
    padding: 0;
    font-size: 20px;
    text-align: right;
  }

  .example__wrapper {
    margin-top: 80px;
  }

  .example__photo--before {
    width: 677px;
    max-width: none;
    height: 499px;
  }

  .example__photo--after {
    width: 545px;
    max-width: none;
    height: 499px;
  }

  .example__toggles {
    margin-top: 25px;
  }
}

@media (min-width: 1300px) {
  .example {
    padding-bottom: 50px;
  }

  .example__wrapper-desktop {
    display: flex;
    justify-content: space-between;
  }

  .example__title {
    margin-left: auto;
    margin-right: auto;
  }

  .example__description {
    margin-top: 135px;
    margin-bottom: 70px;
  }

  .example::before {
    bottom: -50px;
    height: 525px;
  }

  .example__wrapper {
    margin-top: 0;
  }

  .example__wrapper-tablet {
    flex-direction: column;
  }

  .example__cost {
    width: auto;
    margin-left: 0;
    margin-top: 55px;
    text-align: left;
  }

  .example__cost-first {
    margin-right: 50px;
  }

  .example__photos {
    margin: 0;
  }

  .example__photo {
    margin-left: -50px;
    margin-top: -30px;
    margin-bottom: 50px;
  }

  .example__desktop--first {
    width: 40%;
    padding: 0;
    margin: 0;
  }

  .example__desktop--second {
    width: 48%;
    padding: 0;
    margin: 0;
  }
}
