.example {
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.example__title {
  font-size: 36px;
  margin-bottom: 30px;
}

.example__cost {
  text-transform: uppercase;
  font-weight: 500;
}

.example__photos {
  list-style: none;
}
