.extra__title {
  font-size: 24px;
  font-weight: 500;
}

.extra__list {
  list-style: none;
  padding: 0;
}

.extra__item {
  padding: 15px 0;
  border-top: 1px solid #d9d9d9;
}

.extra__item:last-child {
  border-bottom: 1px solid #d9d9d9;
}

.extra__name {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.extra__stats {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .extra__title {
    margin-left: 37px;
    margin-bottom: 82px;
    font-size: 36px;
  }

  .extra__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .extra__item {
    padding: 27px 37px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
  }

  .extra__stats {
    margin: 0;
  }

  .extra__parameter {
    margin-right: 52px;
  }
}

@media (min-width: 1300px) {
  .extra {
    margin: 0;
  }

  .extra__title {
    width: auto;
    margin-left: 0;
  }

  .extra__list {
    width: 855px;
    margin: 0;
  }

  .extra__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 0;
    border-right: none;
    border-left: none;
  }

  .extra__wrapper {
    margin: 0;
  }

  .extra__name {
    width: 245px;
  }

  .extra__stats {
    width: 285px;
  }
}
