.form {
  margin-bottom: 35px;
}

.form__title {
  padding-top: 18px;
}

.form__line-container {
  display: flex;
}

.form__line {
  position: relative;
  background-color: #68b738;
  flex-grow: 1;
  height: 3px;
  margin-left: 24px;
  margin-top: 15px;
}

.form__line::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  top: 0;
  right: 0;
  height: 3px;
  width: 20px;
  margin-right: -20px;
}

.form__description {
  text-transform: uppercase;
  margin-top: 25px;
  line-height: 18px;
}

.form__info,
.form__type,
.form__contact,
.form__comment,
.form__extra {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form__info,
.form__type {
  border-bottom: 1px solid #d9d9d9;
}

.form__info {
  margin-top: 40px;
  padding-bottom: 5px;
}

.form__type {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__contact {
  margin-bottom: 10px;
}

.form__comment {
  margin-bottom: 30px;
}

.form__label {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  font-size: 16px;
  text-transform: uppercase;
}

.form__label::after {
  content: "";
  position: absolute;
}

.form__label--mail::after {
  background-image: url("../img/icon-mail.svg");
  width: 17px;
  height: 13px;
  right: 16px;
  top: 16px;
}

.form__label--phone::after {
  background-image: url("../img/icon-phone.svg");
  width: 20px;
  height: 20px;
  right: 13px;
  top: 13px;
}

.form__label--radio {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
}

.form__label-radio,
.form__label-check {
  display: none;
}

.form__label-radio-indicator {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #cecece;
  border-radius: 50%;
  margin-right: 20px;
}

.form__label--checkbox {
  padding-bottom: 13px;
}

.form__label-radio-indicator:hover {
  border: 1px solid #bcbcbc;
}

.form__label-radio-indicator:active {
  opacity: 0.3;
}

.form__label--radio input[type="radio"]:checked + .form__label-radio-indicator::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738;
  top: 8px;
  left: 8px;
}

.form__label-check-indicator {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #cecece;
  margin-right: 20px;
}

.form__label-check-indicator:hover {
  border: 1px solid #bcbcbc;
}

.form__label-check-indicator:active {
  opacity: 0.3;
}

.form__label--checkbox input[type="checkbox"]:checked + .form__label-check-indicator::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  top: 6px;
  left: 4px;
}

.form__label-text {
  flex-grow: 1;
  padding: 10px 13px;
  margin-left: 15px;
  border: 1px solid #e6e6e6;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.form__label-text:hover {
  border: 1px solid #cdcdcd;
}

.form__label-text:active {
  border: 1px solid #444444;
}

.form__label-text:invalid {
  border: 1px solid #ff8282;
}

.form__label-text:focus {
  outline: 0;
}

.form__textarea {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: 100%;
  height: 148px;
  padding: 13px 13px;
  resize: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.form__textarea:hover {
  border: 1px solid #cdcdcd;
}

.form__textarea:active {
  border: 1px solid #444444;
}

.form__textarea:invalid {
  border: 1px solid #ff8282;
}

.form__textarea:focus {
  outline: 0;
}

.form__legend {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 35px;
}

.form__button {
  border: none;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 20px;
  width: 100%;
}

.form-legend {
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

@media (min-width: 768px) {
  .form {
    margin-bottom: 75px;
  }

  .form__line {
    margin-top: 60px;
  }

  .form__line::before {
    width: 70px;
    margin-right: -70px;
  }

  .form__title,
  .form__description,
  .form__form {
    padding: 0;
  }

  .form__description {
    width: 330px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 40px;
    padding-bottom: 45px;
    margin-top: 40px;
  }

  .form__label {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .form__label--radio {
    padding-bottom: 15px;
  }

  .form__label--mail::after {
    top: 22px;
  }

  .form__label--phone::after {
    top: 19px;
  }

  .form__label-radio-indicator {
    width: 38px;
    height: 38px;
  }

  .form__label--radio input[type="radio"]:checked + .form__label-radio-indicator::after {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }

  .form__label-check-indicator {
    width: 38px;
    height: 38px;
  }

  .form__label--checkbox input[type="checkbox"]:checked + .form__label-check-indicator::after {
    top: 11px;
    left: 9px;
  }

  .form__info,
  .form__type,
  .form__contact,
  .form__comment,
  .form__extra {
    border: none;
    margin: 0 40px;
  }

  .form__info {
    padding-bottom: 50px;
  }

  .form__type {
    border: 1px solid #e6e6e6;
    padding: 24px 27px;
    padding-bottom: 5px;
    margin-bottom: 35px;
  }

  .form__comment {
   margin-bottom: 30px;
  }

  .form__legend {
    padding: 0;
    padding: 45px 0;
    padding-bottom: 65px;
    font-size: 36px;
  }

  .form__legend::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    left: -40px;
    width: 500px;
    height: 3px;
    margin-left: -500px;
    top: 60px;
  }

  .form__label-text {
    font-size: 20px;
  }

  .form__textarea {
    margin-top: 20px;
    font-size: 20px;
    height: 172px;
  }

  .form__extra--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__label--checkbox {
    width: 285px;
    padding-bottom: 32px;
  }

  .form__label--mail {
    margin-top: 20px;
  }

  .form__wrapper {
    display: flex;
    align-items: baseline;
  }

  .form__wrapper--first {
    display: block;
  }

  .form__wrapper--second {
    margin-top: 20px;
  }

  .form__button {
    width: 283px;
    padding: 10px 0;
    margin: 0;
    margin-left: 40px;
    font-family: "Oswald", "Arial", sans-serif;
  }

  .form-legend {
    margin-left: 60px;
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  .form {
    margin-bottom: 82px;
  }

  .form__line-container {
    width: 100%;
  }

  .form__line {
    margin-top: 60px;
  }

  .form__line::before {
    width: calc(calc(100vw - 1240px) / 2);
    margin-right: calc(calc(calc(100vw - 1240px) / 2) * -1);
  }

  .form__title {
    margin-top: 20px;
  }

  .form__description {
    padding-left: 0;
  }

  .form__wrapper--first {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form__info,
  .form__type,
  .form__contact,
  .form__comment,
  .form__extra {
    margin: 0;
  }

  .form__info,
  .form__type {
    flex-grow: 1;
  }

  .form__info {
    margin-right: 40px;
    padding-bottom: 10px;
  }

  .form__type {
    margin-left: 40px;
  }

  .form__contact--wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
  }

  .form__label--mail,
  .form__label--phone {
    flex-grow: 1;
  }

  .form__label--mail {
    margin-right: 40px;
  }

  .form__label--phone {
    margin-left: 40px;
  }

  .form__textarea {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 30px;
  }

  .form__wrapper--second {
    margin-top: 29px;
  }

  .form__button {
    width: 570px;
    margin-left: 0;
  }

  .form__label--checkbox {
    width: 245px;
  }

  .form-legend {
    margin-left: 80px;
  }
}
