.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;
  height: 64px;
  vertical-align: middle;
}

.main-nav__link {
  display: block;
  padding-top: 15px;
  height: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

@media (min-width: 768px) {
  .main-nav {
    padding: 0 2px;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    padding: 12px 0;
    margin: 0 18px;
    box-sizing: border-box;
    border: none;
  }

  .main-nav__item--active {
    border-bottom: 2px solid #68b738;
  }

  .main-nav__link {
    font-size: 18px;
    font-weight: normal;
  }
}

@media (min-width: 1300px) {
  .main-nav__link--index {
    font-size: 20px;
    color: white;
  }

  .main-nav__item--index {
    border-bottom: 2px solid white;
  }
}
