.page-header {
  min-width: 280px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo-image {
  width: 191px;
}

.page-header__logo-image:hover {
  opacity: 0.8;
}

.page-header__logo-image:active {
  opacity: 0.6;
}

.page-header__toggle {
  border: 0;
  padding: 0;
  background: none;
}

.page-header__toggle:focus {
  outline: 0;
}

@media (min-width: 768px) {
  .page-header {
    display: flex;
    height: 115px;
    margin-top: 10px;
  }

  .page-header__wrapper {
    padding: 12px 0;
    margin-left: 0;
    border: none;
  }

  .page-header__logo-image {
    width: 173px;
  }

  .page-header__toggle {
    @include invisible;
  }
}

@media (min-width: 1300px) {
  .page-header {
    margin-top: 40px;
  }

  .page-header__logo-image {
    width: 202px;
  }
}
