.page-header {
  min-width: 280px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__toggle {
  border: 0;
  padding: 0;
  background: none;
}

@media (max-width: 767px) {
  .page-header__logo-image--tablet {
    @include invisible;
  }

  .page-header__logo-image--desktop {
    @include invisible;
  }
}

@media (max-width: 1299px) {
  .page-header__logo-image--mobile {
    @include invisible;
  }

  .page-header__logo-image--desktop {
    @include invisible;
  }
}

@media (min-width: 1300px) {
  .page-header__logo-image--mobile {
    @include invisible;
  }

  .page-header__logo-image--tablet {
    @include invisible;
  }
}


@media (min-width: 768px) {
  .page-header {
    display: flex;
    height: 140px;
  }

  .page-header__wrapper {
    margin-left: 0;
    border: none;
  }

  .page-header__toggle {
    @include invisible;
  }
}

@media (min-width: 1300px) {
  .page-header {
    @include container;
  }
}
