.page-header {
  min-width: 280px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__toggle {
  border: 0;
  padding: 0;
  background: none;
}
