.promo {
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat;
}

.promo__title {
  padding: 0 20px;
  text-align: center;
  color: white;
}

.promo__description {
  padding: 0 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
