.promo {
  position: relative;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.promo:before {
  content: "";
  position: absolute;
  background: #64a83b;
  z-index: -1;
  padding: 0 50%;
  height: 305px;

}

.promo__title {
  padding: 0 20px;
  text-align: center;
  color: white;
}

.promo__description {
  padding: 0 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.promo__image {
  display: block;
  margin: 0 auto;
}
