.slider-toggles {
  display: flex;
  justify-content: center;
}

.slider-toggles__button {
  margin: 0 20px;
}

.slider-toggles__description {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
